<template>
	<!-- 福利 -->
	<view class="components-landscape">
    <view style="text-align: center;"><image style="width: 100%;" src="/static/project/sy.jpg" mode="widthFix"></image></view>
		<!--固定版块1-->
		
		<view class="nav_title--wrap">
		    <view class="nav_title tn-main-gradient-aquablue">
		    <text class="tn-icon-star tn-padding-right-sm tn-text-xl"></text>
		    <text class="tn-text-xxl">在线点餐5折起</text>
		    <text class="tn-icon-star tn-padding-left-sm tn-text-xl"></text>
		    </view>
		</view>
		<view style="text-align: center;" @click="tn('https://kzurl17.cn/7TjWAY')">
		    <view><image style="width: 100%;" src="/static/project/zxdc.jpg" mode="widthFix"></image></view>
		    <view>肯德基|必胜客|星巴克|瑞幸|奈雪|库迪</view>
		
		</view>
		<!--固定版块2-->
		<view class="nav_title--wrap">
		    <view class="nav_title tn-main-gradient-aquablue">
		    <text class="tn-icon-star tn-padding-right-sm tn-text-xxl"></text>
		    <text class="tn-text-xxl">在线点餐折扣价</text>
		    <text class="tn-icon-star tn-padding-left-sm tn-text-xxl"></text>
		    </view>
		</view>
		
		<view class="tn-flex tn-flex-direction-row" style="flex-wrap: wrap;">
		    <view class="tn-padding-left-xs text-center" style="width:25%;">
		        <view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('https://kzurl02.cn/7TB7Am')">
		      	<tn-avatar :border="true" :src="'/static/project/bgy.jpg'" size="lg"></tn-avatar>
		      	<view>百果园</view>
		        </view>
			</view>
			<view class="tn-padding-left-xs text-center" style="width:25%;">
				<view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('https://kzurl02.cn/7TB7r1')">
				<tn-avatar :border="true" :src="'/static/project/xc.jpg'" size="lg"></tn-avatar>
				<view>喜茶</view>
				</view>
			</view>
			<view class="tn-padding-left-xs text-center" style="width:25%;">	
				<view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('https://kzurl06.cn/7TB36B')">
				<tn-avatar :border="true" :src="'/static/project/hbw.jpg'" size="lg"></tn-avatar>
				<view >汉堡王</view>
				</view>
			</view>
			<view class="tn-padding-left-xs text-center" style="width:25%;">	
				<view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('https://kzurl12.cn/7TB0eG')">
				<tn-avatar :border="true" :src="'/static/project/hls.jpg'" size="lg"></tn-avatar>
				<view >华莱士</view>
				</view>
			</view>
			<view class="tn-padding-left-xs text-center" style="width:25%;">	
				<view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('https://kzurl03.cn/7TjbVH')">
				<tn-avatar :border="true" :src="'/static/project/mdl.jpg'" size="lg"></tn-avatar>
				<view >优惠券</view>
				</view>
			</view>		
			<view class="tn-padding-left-xs text-center" style="width:25%;">
				<view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('http://dpurl.cn/xVqPWPFz')">
				<tn-avatar :border="true" :src="'/static/project/tims.jpg'" size="lg"></tn-avatar>
				<view>Tims</view>
				</view>
			</view>
			<view class="tn-padding-left-xs text-center" style="width:25%;">
				<view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('https://kurl02.cn/7TB2wJ')">
				<tn-avatar :border="true" :src="'/static/project/dy.jpg'" size="lg"></tn-avatar>
				<view>抖音团购</view>
				</view>
			</view>
		    
		</view>
		
		<!--固定版块2-->
		<view class="nav_title--wrap">
		    <view class="nav_title tn-main-gradient-aquablue">
		    <text class="tn-icon-star tn-padding-right-sm tn-text-xxl"></text>
		    <text class="tn-text-xxl">观影优惠</text>
		    <text class="tn-icon-star tn-padding-left-sm tn-text-xxl"></text>
		    </view>
		</view>
		<view class="tn-flex tn-flex-direction-row" style="flex-wrap: wrap;">
		    <view class="tn-padding-left-xs text-center" style="width: 25%;">
		        <view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('https://kzurl10.cn/7TjE4P')">
		      	<tn-avatar :border="true" :src="'/static/project/dyp.jpg'" size="lg"></tn-avatar>
		      	<view >电影票</view>
		      	</view>
			</view>
		
			
			<view class="tn-padding-left-xs text-center" style="width: 25%;">	
				<view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur " @click="tn('https://kurl02.cn/7TB0N3')">
				<tn-avatar :border="true" :src="'/static/project/ych.jpg'" size="lg"></tn-avatar>
				<view >演唱会</view>
				</view>
			
		    
			</view>
		</view>

		
		<!--循环1-->	  
	    <view>
		<view v-for="(layer1, index1) in nestedData" :key="index1">
			   <!--大标题-->
			   <view class="nav_title--wrap">
			     <view class="nav_title tn-main-gradient-aquablue">
			       <text class="tn-icon-star tn-padding-right-sm tn-text-xxl"></text>
			       <text class="tn-text-xxl">{{layer1.dtitle}}</text>
			       <text class="tn-icon-star tn-padding-left-sm tn-text-xxl"></text>
			     </view>
			   </view>
			 
			<!--循环2-->
			<view class="tn-flex tn-flex-direction-row" style="flex-wrap: wrap;">
				<!--小标题-->
			<view class="tn-padding-left-xs text-center" v-for="(layer2, index2) in layer1.children" :key="index2" style="width: 25%;">
				
				<view class="tn-flex-1 tn-padding-sm tn-margin-xs tn-radius bg-flex-shadow tn-shadow-blur "  @tap="showLandscape(layer2.children)">
					<tn-avatar :border="true" :src="layer2.image" size="lg" >	
					</tn-avatar>
					<view >{{ layer2.xtitle }}</view>
					</view>
			</view>
			</view>
		</view>
	</view>
	<!--弹出层-->
	<tn-landscape
		  :show="show"
		  :closeBtn="true"
		  :closeColor="''"
		  :closeSize="0"
		  :closePosition="'rightTop'"
		  :closeTop="0"
		  :closeRight="0"
		  :closeBottom="0"
		  :closeLeft="0"
		  :mask="true"
		  :maskCloseable="false"
		  @close="closeLandscape">
		          <view class="tn-margin-top">
		            <tn-list-view :card="true" title="信息" backgroundColor="#EFEFEF">
					<!--循环3-->
					<view v-for="(layer3, index3) in list" :key="index3">
		              <tn-list-cell :arrow="false" :arrowRight="true" :unlined="false" :lineLeft="true" :lineRight="true"><view class="list-icon-text">
              <view class="list__left">
                <view class="list__left__text">{{layer3.info}}</view>
              </view>
              <view class="list__right">
				  <!--链接-->
                <tn-button @tap="tn(layer3.url)" backgroundColor="#01BEFF" fontColor="#FFFFFF" shape="round" size="sm">
                  <text class="tn-margin-right-xs">前往</text>
                </tn-button>
              </view>
            </view></tn-list-cell>
		              
		              </view>
		            </tn-list-view>
		          
		        </view>
		</tn-landscape>
		
		
		<tn-landscape :show="ewm" :closeBtn="false" :maskCloseable="true" @close="closeewm">
			<view class="tn-margin-top">
		      <view class="text-center"><image style="width: 300px;height: 300px;"  src="/static/project/ewm.jpg"></image></view>	      
			</view>
		</tn-landscape>
		
		<!--悬浮Fab按钮-->	
		<view @tap="showewm">
		    <view class="fab" style="left: auto; right: 15px;bottom:71px;z-index: 19060;">
				<text class="tn-icon-up" style="font-size: 32px;color:white;"></text>
		    </view> 
		  </view>	
			
			
		
		
		
	</view>
	
</template>

<script>
	export default {
		name: 'Discovery',
		data() {
			return {
				nestedData: [{
						dtitle: '外卖红包',
						children: [{
							   xtitle: '美团外卖红包',
							   image:'/static/project/mtwm.jpg',
							   children: [{info: '美团赏金红包',url:'https://kzurl05.cn/7XsnZ9'},{info:'美团外卖红包',url:'http://dpurl.cn/uMq8tARz'},{info:'美团品质红包',url:'http://dpurl.cn/899PriUz'}]
							},{
								xtitle: '美团下单返现',
								image:'/static/project/mtxd.jpg',
								children: [{info:'美团霸王餐',url:'https://kzurl13.cn/7Xsn2y'},{info:'美团返利',url:'https://kurl01.cn/7XsXYr'}]
							},{
								xtitle: '美团超值券包',
								image:'/static/project/mtth.jpg',
								children: [{info:'美团团购',url:'http://dpurl.cn/fje69jMz'},{info:'美团买药',url:'http://dpurl.cn/pczVH6Mz'},{info:'美团水果',url:'http://dpurl.cn/PQn1tufz'},{info:'必吃券包',url:'http://dpurl.cn/9aVRrTuz'},{info:'超值券包',url:'https://kzurl16.cn/7Tfq9E'}]
							},{
								xtitle: '饿了么大红包',
								image:'/static/project/elm.jpg',
								children: [{info:'饿了么赏金红包',url:'https://u.ele.me/TKAssoCR'},{info:'饿了么吃货红包',url:'https://u.ele.me/eHBsFxTS'},{info:'饿了么外卖红包天天领',url:'https://u.ele.me/52HTTHw5'},{info:'饿了么消费日红包',url:'https://kzurl20.cn/7XGLAn'},{info:'饿了么社群红包',url:'https://kzurl02.cn/7XG9u0'},{info:'饿了么美食品牌优惠券',url:'https://kzurl06.cn/7XGRKt'}]
							}],
						},{
						dtitle: '美团圈圈团购月入千元',
						children: [{
							   xtitle: '美团圈圈',
							   image:'/static/project/mtqq.jpg',
							   children: [{info: '美团圈圈推广员获取资格',url:'http://d.0wd.cn/35hFIJ'},{info: '美团圈圈每日分享领现金',url:'http://d.0wd.cn/2t0eSl'},{info: '美团圈圈与团购优惠券',url:'https://s.b1n.net/e1Xm2'},{info: '美团圈圈主页',url:'https://s.b1n.net/JDFze'}]
							}],
					    },{
						dtitle: '签到红包',
						children: [{
								   xtitle: '积分签到',
								   image:'/static/project/jfqd.jpg',
								   children: [{info: '签到领现金',url: 'http://d.0wd.cn/2eDN13'}]
							},{
								   xtitle: '拼多多券',
								   image:'/static/project/pdd.jpg',
								   children: [{info: '拼多多超低价好货疯抢',url: 'https://p.pinduoduo.com/Sszsrbvt'},{info: '拼多多官方百亿补贴，全场品质保障',url: 'https://p.pinduoduo.com/4nbWCQvm'},{info: '拼多多官方领券中心，领券下单更优惠',url: 'https://p.pinduoduo.com/4YPsbYRA'}]
							},{
								   xtitle: '京东9.9',
								   image:'/static/project/jd.jpg',
								   children: [{info: '京东9.9包邮',url: 'https://kzurl20.cn/7TB2v2'}]
							},{
								   xtitle: '1元快递',
								   image:'/static/project/jkd.jpg',
								   children: [{info: '快递7元优惠券。1元寄快递',url: 'https://front.fxshuo.com.cn/h5-promotion/pages/express/expressAccept?promoteBizNo=857748431177912320&placardNo=0'},{info: '菜鸟裹裹限时优惠，寄快递4元起',url: 'https://5kma.cn/7Tj6RR'},{info: '寄件享4折起优惠 低至5元寄快递',url: 'https://kzurl02.cn/7Tj5td'}]
							}]
					},{
						dtitle: '出行红包',
						children: [{
								    xtitle: '花小猪',
								    image:'/static/project/hxz.jpg',
								    children: [{info: '花小猪新人优惠券',url:'http://d.0wd.cn/2PuFKO'},{info: '花小猪最高100元优惠券',url:'https://kzurl06.cn/7Tjz7K'},{info:'花小猪社群优惠券',url:'https://x.huaxz.cn/vWdGLE8'}],
								},{
									xtitle: '滴滴出行',
									image:'/static/project/dd.jpg',
									children: [{info: '滴滴网约车新客大礼包，老客专享活动',url:'https://vv.didi.cn/m6dPPnr?source_id=202710jutuike123456'},{info: '滴滴打车用户可领取8折打车券，单笔交易最高抵扣10元',url:'https://4kma.cn/7TBuPF'},{info:'每日领滴滴网约车和代驾券包',url:'https://kzurl15.cn/7TB8KJ'},{info:'滴滴代驾券包最高可领20元立减券',url:'https://v.didi.cn/zlwvaXa?source_id=202710jutuike123456'}],
								},{
									xtitle: 'T3出行',
									image:'/static/project/t3.jpg',
									children: [{info: 'T3出行新老用户天天领券',url:'https://kzurl15.cn/7TfMkr'}],
								},
								{
									xtitle: '飞猪旅行',
									image:'/static/project/jp.jpg',
									children: [{info: '飞猪旅行',url:'https://kzurl06.cn/7Xswwz'},{info: '飞猪民宿',url:'https://kzurl10.cn/7XsHZN'},{info: '飞猪酒店',url:'https://kurl02.cn/7Xsszi'},{info: '飞猪租车',url:'https://5kma.cn/7Xsh6I'},{info: '飞猪机票',url:'https://kurl02.cn/7X0vwi'},{info: '飞猪火车票',url:'https://kzurl15.cn/7XshYt'}],
								},{
									xtitle: '美团旅行',
									image:'/static/project/mtly.jpg',
									children: [{info: '美团门票',url:'http://dpurl.cn/oMOukOOz'},{info: '美团度假',url:'http://dpurl.cn/TtUyyu2z'},{info:'美团酒店',url:'https://4kma.cn/7XsHub'},{info:'美团酒店新客',url:'https://dpurl.cn/2YYY3Wyz'},{info:'美团酒店特惠',url:'https://dpurl.cn/O0Fr1OVz'}],
								}]
					}],
				show: false,
				ewm: false,
                list: null,
				isFabOpen: false

			}
		},

		onReady() {

		},
		methods: {

// 弹出压屏窗
      showLandscape(e) {
        this.list = e;
        this.openLandscape()
      },
      
      // 打开压屏窗
      openLandscape() {
        this.show = true
      },
      // 关闭压屏窗
      closeLandscape() {
        this.show = false
      },

			tn(e) {
				console.log(e)
				//window.location.href = e
				window.open(e, '_blank')
			},
			//悬浮按钮弹二维码
			showewm(){
				this.openewm()
			},
			openewm() {
			  this.ewm = true
			},
			// 关闭压屏窗
			closeewm() {
			  this.ewm = false
			}

			  
		}
	}
</script>

<style lang="scss" scoped>
  .nav_title {
    -webkit-background-clip: text;
    color: transparent;
	
	&--wrap {
	  position: relative;
	  display: flex;
	  height: 100rpx;
	  font-size: 42rpx;
	  align-items: center;
	  justify-content: center;
	  font-weight: bold;
	  background-image: url(https://resource.tuniaokj.com/images/title_bg/title44.png);
	  background-size: cover;
	}
}	
.text-center {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    text-align: center; /* optional: center text if needed */
    /* Add any other styles as needed */
}
	 
			.img{
			    width: 90upx /1.2;
				height:inherit;
			}
			.img1{
			    width: 150upx /1.3;
				height:inherit;
			}
			
			.fab-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.fab{
	align-items: flex-end;
	display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    position: fixed;
	    transition: all 0.25s ease-in-out;
		width: 45px;
		    height: 45px;
		    background-color: rgb(1, 190, 255);
		    color: rgb(255, 255, 255);
		    border-radius: 50%;
		    z-index: 19059;
}
</style>
